/*Possible color pallet 
#FFFFFF - White
#D52B1E - Spot Red 
#B23D40 - Second Red   
#81767C - Brown/Grey
#24282F - Off Black 
*/

.headbar{
    background-color: rgba(255,255,255, 0.85);
}

/*Mobile links menu*/
@media only screen and (max-width: 768px){
.headlinks{
        
    }
}

/*Desktop links*/
@media only screen and (min-width: 768px){
.headlinks{
    font-size: 5;
    color: #24282F;
    padding-top: 72px;
    /*text-align: center*/
    }
}

/*Desktop scheme*/
.hero{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: -1;
    background-image: url('http://rndimg.com/ImageStore/OilPaintingOrangeReal/992x600_OilPaintingOrangeReal_79ed9af9f73a4569b7ae528e3cdc6dea.jpg');
    width: 100%;
    min-height: 500px;
    background-size: cover;
    background-position: center center;
}    
