/*Possible color pallet 
#FFFFFF - White
#D52B1E - Spot Red 
#B23D40 - Second Red   
#81767C - Brown/Grey
#24282F - Off Black 
*/

.headbar{
    background-color: #81767C;
    width: 100%;
    height: 180px;
    border: 1px white;
    opacity: 50%;
}

.headlinks{
    font-size: 5;
    color: #24282F;
    padding-top: 90px;
    text-align: center
}